<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephanie Quinn Strickland</title>
    <link href="../../style.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Stephanie Quinn Strickland</h1>
        <img src="https://i.imgur.com/7jgkinT.jpg" width="300">
        <h3> Full-Stack Software Engineer -- Plant Hobbyist -- Reading Enthusiast </h3>
        <h4> HTML | CSS | JavaScript | JQuery | GitHub | MongoDB | Heroku | Bootstrap | Node.js | ReactJS | EJS | EJX | Python | Mongoose | MVC | REST | Postman | PostgresQL | Adobe XD | MERN</h4>
    </header>
    
    <ul>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="personal.html">About Me</a></li>
    </ul>
    
    <h4>Contact Me</h4>
    <a href="">Email</a>
    <a href="">Phone</a>
    <a href="">LinkedIn</a>
    
    <form>
        <input type="text" name="email" placeholder="your email">
        <input type="submit"  onclick="clickAlert()">
    </form>
    
    <script>
        function clickAlert() {
        alert("Thanks! Talk to you soon.");
        }
    </script>

</body>
</html>


