<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <title>Projects</title>
    </head>
<body>
    <h1>Projects</h1>

    <div class="build">
        <img src="https://i.imgur.com/EOCUEnK.png"><br />
        <a href="https://github.com/StrickQuinn/ProjectPlant">Plant Learning Game</a><br />
        <img src="https://imgur.com/5cRmfq6.png"><br />
        <a href="https://github.com/StrickQuinn/ProjectBakery">Bakery Inventory</a><br />
        <img src="https://i.imgur.com/woe5SBd.png"><br />
        <a href="https://github.com/jbrown7407/Project3">Business Website Project -- Group Try #1</a><br />
        <a href="https://github.com/jbrown7407/EmazonB">Business Website Project -- Group Try #2</a><br />
        <a href="https://github.com/StrickQuinn/Project3API">Business Website Project -- API</a><br />
        <a href="https://github.com/StrickQuinn/Product3Client">Business Website Project -- Client</a><br />
        <img src="https://i.imgur.com/WeG9UMK.png"><br />
        <a href="https://github.com/StrickQuinn/PlantCareApp">Plant Care Log</a><br />
    </div><br />

<ul>
	<li><a href="index.html">Home</a></li>
	<li><a href="personal.html">About Me</a><li>
</ul>
</body>
</html>



